# git config --global merge.ours.driver true
.vimrc merge=ours
spad.txt merge=ours
notes.txt merge=ours
pubspec.lock merge=ours
env.retarget merge=ours
retarget.flags merge=ours
env.retarget.cleanup merge=ours
retarget.code-workspace merge=ours
CHANGELOG.md merge=ours
README.md merge=ours
LICENSE merge=ours
TODO merge=ours

